<div class="grid">
  <div class="blog-wrapper mx-auto flex-md">
    <div class="blog-right">
      <img src="{{ article.image.src | img_url: '600x' }}" />
      <h4>Tags</h4>
      <ul class="blog-tags-list h4">
        {% for tag in article.tags %}
          <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag | link_to_tag: tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <article class="blog-left border-box pl4" role="article">
      <header role="banner">
        <h1 class="mt0">{{ article.title }}</h1>
        {% capture date %}
          {{ article.published_at | time_tag: format: 'month_day_year' }}
        {% endcapture %}
        <p class="medium-gray h5 mt0 mb2">
          {{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}
        </p>
      </header>
      <div class="rte">
        {{ article.content }}
      </div>

      {% if settings.social_sharing_blog %}
        {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
      {% endif %}

    </article>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
