{% paginate blog.articles by 14 %}
  {%- assign blog_title = blog.title -%}
  <div class="grid">
    <div class="blog-wrapper mx-auto">
      {% if current_tags %}
        {% capture blog_title %}
          <div class="blog-heading">
            {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
          </div>
        {% endcapture %}
      {% endif %}

      <div class="text-center">
        <h2 class="text-normal pt-sans-bold red m0">{{ blog_title }}</h2>
      </div>

      <div class="flex-md pt3">
        <div class="blog-left flex flex-wrap">
          {% for article in blog.articles %}
            <div class="blog-item border-box mb3">
              <a href="{{ article.url }}">
                <img src="{{ article.image.src | img_url: '700x' }}">
              </a>
              <h2 class="mb1">
                <a class="red no-underline" href="{{ article.url }}">
                  {{ article.title }}
                </a>
              </h2>
              {% capture date %}
                {{ article.published_at | time_tag: format: 'month_day_year' }}
              {% endcapture %}
              <p class="medium-gray h5 m0">
                {{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}
              </p>
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                <p class="dark-gray">
                  {{ article.content | strip_html | truncatewords: 30 }}
                  <a href="{{ article.url }}" class="dark-teal no-underline">
                    {{ 'blogs.article.read_more' | t }}
                  </a>
                </p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="blog-right">
          {% if blog.all_tags.size > 0 %}
            <h4 class="mt0">{{ 'blogs.general.categories' | t }}</h4>
            <ul class="blog-tags-list h4">
              {% for tag in blog.all_tags %}
                {% if current_tags contains tag %}
                  <li>{{ tag }}</li>
                {% else %}
                  <li>{{ tag | link_to_tag: tag }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="pagination text-center py4">
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      </div>
    </div>
  </div>

{% endpaginate %}
