{% assign available = product.first_available_variant.available %}

<h2 class="text-normal mt0 mb1">{{ product.title }}</h2>
{% if available %}
  <span class="mt0 h3 mb1 dark-teal">
    <span class="js-price">{{ product.price | money_without_trailing_zeros }}</span>
    {% if product.compare_at_price_max > 0 %}
      <strike class="strike dark-teal">
        <span class="mild-gray">{{ product.compare_at_price_max | money_without_trailing_zeros }}</span>
      </strike>
    {% endif %}
  </span>
{% else %}
  <p class="mt0 mb1 medium-gray">Sold Out</p>
{% endif %}
<p class="medium-gray">{{ product.description }}</p>
<span class="pb1 block"></span>
<form action="/cart/add" class="js-cart-form" enctype="multipart/form-data" method="post">
  <div class="relative black">
    {% if available %}
      <select name="id" type="hidden">
        {% for variant in product.variants %}
          {% if variant.available == true %}
            <option value="{{ variant.id }}" data-variants-length="{{ variant.inventory_quantity }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }}
              - sold out!
            </option>
          {% endif %}
        {% endfor %}
      </select>
      {% for product_option in product.options_with_values %}
        {% if product_option.name != 'Title' %}
          <label class="h5 block mb1">
            <div class="flex">
              {% for value in product_option.values %}
                <div class="product-input relative">
                  <input data-option-value="{{ value }}" data-position="{{ product_option.position }}" class="absolute t0 l0 r0 b0 w100p h100p pointer m0 o0p z1" type="radio" name="{{ product_option.name }}" value="{{ value }}" {% if product_option.selected_value == value %} checked {% endif %}/>
                  <button class="product-option medium-gray product-{{ product_option.name }} border border-mild-gray rounded apercu-regular h4 m0 flex items-center justify-center bg-white {% if product_option.selected_value == value %}black border-black{% endif %}" type="button">
                    <span class="relative">{{ value }}</span>
                  </button>
                </div>
              {% endfor %}
            </div>
          </label>
        {% endif %}
      {% endfor %}
      <input class="button mt1 h5 text-uppercase bg-teal rounded white no-border" id="add" name="add" type="submit" value="Add to Cookie Jar"/>
    {% endif %}
  </div>
</form>
