<div class="give-back flex-md items-center bg-light-gray rounded mb1 w100p border-box">
  <div class="avatar block mx-auto">
    <img class="block v-middle circle retina" src="{{ section.settings.image | img_url: '275x' }}" />
  </div>
  <div class="copy">
    <h4 class="text-normal mt0 mb1">{{ section.settings.title }}</h4>
    <p class="m0 h4 dark-gray">{{ section.settings.description }}</p>
  </div>
  <div class="cta">
    <a href="{{ section.settings.button_url }}" class="button h5 no-underline inline-block text-uppercase bg-red rounded white no-border">
      {{ section.settings.button_text }}
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Callout",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "Description"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Button text"
      },
      {
        "id": "button_url",
        "type": "url",
        "label": "Button link"
      }
    ]
  }
{% endschema %}
