<div class="grid">
  {% if section.settings.layout == 'left' %}
    <div class="image-module left-module flex items-center">
      <div class="visual overflow-hidden bg-light-gray w100p">
        <div class="rounded image bg-center bg-cover fade-image border border-smoke" style="padding-top: 100%;" data-img="{{ section.settings.image | img_url: '1440x768' }}"></div>
      </div>
      <span class="space"></span>
      <div class="description border-box">
        <h3 class="red mt0 mb1">{{ section.settings.title }}</h3>
        <p class="m0 dark-gray apercu-light">{{ section.settings.description }}</p>
        <a href="{{ section.settings.button_link }}" class="button h5 text-uppercase bg-teal rounded white no-border inline-block no-underline mt2">
          {{ section.settings.button_text }}
        </a>
      </div>
    </div>
  {% endif %}
  {% if section.settings.layout == 'right' %}
    <div class="image-module right-module flex items-center">
      <div class="description border-box">
        <h3 class="red mt0 mb1">{{ section.settings.title }}</h3>
        <p class="m0 dark-gray apercu-light">{{ section.settings.description }}</p>
        <a href="{{ section.settings.button_link }}" class="button h5 text-uppercase bg-teal rounded white no-border inline-block no-underline mt2">
          {{ section.settings.button_text }}
        </a>
      </div>
      <span class="space"></span>
      <div class="visual overflow-hidden bg-light-gray w100p">
        <div class="rounded image bg-center bg-cover fade-image border border-smoke" style="padding-top: 100%;" data-img="{{ section.settings.image | img_url: '1440x768' }}"></div>
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Image with text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "Description",
        "default": "Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review."
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
