<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {% assign featured_image = '//cdn.shopify.com/s/files/1/0067/2320/7279/files/IMG_4160_2000x.JPG?v=1542215889' %}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {% if template contains 'product' %}
    <meta property="og:type" content="product">
    <meta property="og:title" content="{{ product.title | strip_html | escape }}">
    <meta property="og:category" content="{{ product.type }}" />
    {% for image in product.images limit:3 %}
      <meta property="og:image" content="http:{{ image.src | product_img_url: 'master' }}">
      <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: 'master' }}">
    {% endfor %}
    <meta property="og:price:amount" content="{{ product.price | money_without_currency | stip_html | escape | remove: ',' }}">
    <meta property="og:price:currency" content="{{ shop.currency }}">
    <meta property="og:availability" content="{% if product.available %}instock{% else %}oos{% endif %}" />
    <meta property="og:description" content="{{ product.description | strip_newlines | strip_html | truncate: 300 | escape }}">
  {% elsif template contains 'article' %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ article.title | strip_html | escape }}">
    {% assign img_tag = '<' | append: 'img' %}
    {% if article.content contains img_tag %}
      {% assign src = article.content | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
      {% if src %}
        <meta property="og:image" content="http:{{ src }}">
        <meta property="og:image:secure_url" content="https:{{ src }}">
      {% endif %}
    {% endif %}
  {% else %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page_title | escape }}">
    <meta property="og:image" content="http:{{ featured_image }}">
    <meta property="og:image:secure_url" content="https:{{ featured_image }}">
  {% endif %}
  {% if page_description and template != 'product' %}
    <meta property="og:description" content="{{ page_description | escape }}">
  {% endif %}
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:site_name" content="{{ shop.name }}">

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'style-tags', layout: 'theme' %}

  {% if template.directory == 'customers' %}
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {% endif %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' | script_tag }}

  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  <div class="site flex flex-column items-between min-h100vh">
    {% section 'header' %}
    <main role="main" class="mx1 border-box site-wrapper main-height flex-1">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </div>
  {% section 'cart' %}
  {% include 'mobile-nav' %}
  {% section 'newsletter-popup' %}
</body>
</html>
